body {
  --black: #0e0b16;
  --purple: #a239ca;
  --blue: #4717f6;
  --grey: #ffffff;
  height: 100vh;
  color: var(--grey);
  background: var(--black);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat' 900;
  letter-spacing: 2px;
}

#home {
  background: url(../images/texture.jpg) no-repeat;
  background-size: cover;
}

#menu-switch {
  position: absolute;
  top: 1rem;
  left: 0;
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 2em;
  transform: rotate(270deg);
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.strokes {
  z-index: 1000;
  width: 25px;
  height: 5px;
  background: black;
  transform: translate(50%, 50%);
}
.stroke-1 {
  transform: rotate(45deg) translate(10px, -10px);
  transition: transform 300ms ease-out;
}
.stroke-2 {
  transform: rotate(-45deg);
  transition: transform 300ms ease-out;
}

#menu {
  font-family: 'Kodchasan';
  width: 40vw;
  height: 100vh;
  position: absolute;
  background: tomato;
  color: white;
  transform-origin: 10px 10px;
  background: linear-gradient(
    -45deg,
    var(--black),
    var(--purple),
    var(--blue),
    var(--grey)
  );
  z-index: 999;
  background-size: 400% 400%;
  animation: morph 2.4s ease-in-out infinite alternate,
    Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes morph {
  from {
    border-top-left-radius: 10vh;
    border-bottom-left-radius: 20vh;
    border-bottom-right-radius: 40vh;
    border-top-right-radius: 80vh;
  }
  to {
    border-top-left-radius: 15vh;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 80vh;
    border-top-right-radius: 40vh;
  }
}

section {
  position: absolute;
  opacity: 0;
  transform: translate(20%, -100%) scale(0.45) scaleY(0);
  height: 100vh;
  transition: transform 0.5s ease-in-out, border-radius 0.5s linear,
    opacity 200ms ease-out;
  width: 100%;
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 5vh 6vh var(--black), 0 0 5vh 5vh var(--blue),
    0 0 5vh 6vh var(--purple);
  padding: 6vh 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.visible {
  opacity: 1;
  display: flex;
  flex-direction: column;
  transform: translate(0, 0) scaleY(1);
}

#home {
  padding: 0 0 0 10em;
  justify-content: flex-end;
  align-items: baseline;
}

#about {
  background: url(../images/hero-back.jpg) no-repeat;
  background-size: cover;
}

#work {
  background: url(../images/work.jpg) no-repeat;
  background-size: cover;
  align-items: initial;
  justify-content: initial;
  color: var(--black);
  font-family: 'MOnteserrat';
  font-weight: bold;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
.work-list article {
  color: var(--grey);
  margin-bottom: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  height: 225px;
  justify-content: flex-end;
  background: #0e0b16;
}

.work-list article:nth-of-type(1) {
  background-image: url(../images/$1.png);
  background-size: cover;
}

.work-list * {
  margin: 0;
  padding: 0;
  text-align: right;
}
#work h2 {
  font-size: 3em;
  margin: 0 0 10px 0;
}

#work h2,
.work-list h3 {
  border-bottom: 0.1em solid var(--purple);
}

.heading-line {
  width: 25%;
  font-size: 0.4em;
  box-shadow: 0 1vh 0 0 var(--purple), 0 2vh 0 0 var(--black),
    0 3vh 0 0 var(--blue);
}

.title {
  font-size: 7em;
  margin: 0;
}
.title ~ p {
  font-size: 1.4em;
  border-bottom: 0.1em dotted var(--grey);
}
.closed {
  border-radius: 40vh;
  border-bottom-right-radius: 60vh;
  border-top-right-radius: 50vh;
  transform: scale(0.1);
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.open {
  border-radius: 8px;
  border-bottom-right-radius: 30vh;
  border-top-right-radius: 80vh;
  transform: scale(1);
}

.open ~ section.visible {
  border-radius: 8px;
  transform: translate(20%, 10%) scale(0.45);
}

.stroke-1.back {
  transform: rotate(-45deg) translate(10px, 10px);
}

.stroke-2.back {
  transform: rotate(45deg);
}

.menu-item {
  position: absolute;
  padding: 1em;
  border-radius: 50%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border: 0.1em dotted var(--grey);
}

.menu-item.active {
  background: rgba(0, 0, 0, 0.4);
  animation: morph-menu 2s infinite alternate;
}

@keyframes morph-menu {
  from {
    border-top-left-radius: 40vh;
    border-bottom-left-radius: 30vh;
    border-bottom-right-radius: 20vh;
    border-top-right-radius: 80vh;
  }
  to {
    border-top-left-radius: 60vh;
    border-bottom-left-radius: 50vh;
    border-bottom-right-radius: 50vh;
    border-top-right-radius: 30vh;
  }
}

.menu-item:nth-of-type(1) {
  top: 15vh;
  left: 15vw;
}

.menu-item:nth-of-type(2) {
  top: 35vh;
  left: 25vw;
}
.menu-item:nth-of-type(3) {
  top: 50vh;
  left: 10vw;
}
.menu-item:nth-of-type(4) {
  top: 70vh;
  left: 18vw;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1em;
}

.list li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border: 0.1em dotted var(--grey);
}

a {
  text-decoration: none;
  color: var(--grey);
}

.list li:first-child {
  border: none;
  font-size: 1em;
  display: block;
  background: none;
  width: auto;
  height: auto;
  border-radius: 0;
}

#contact h2 {
  font-size: 6em;
  border-bottom: 0.1em double transparent;
}

#contact h2:hover > a {
  color: var(--purple);
  border-bottom: 0.1em double var(--purple);
}
